
@import '../variables.scss';

.logo {
    background-color: #5c6767;
    padding: 4px;
    height: $logo-height;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
}

.logo img {
    height: $logo-img-height;
}