$header-margin: 16px;

$burger-height: 250px;
$burger-width: 100%;

$burger-alt-height: 600px;
$burger-alt-width: 700px;

$burger-alt-height2: 400px;
$burger-alt-width2: 450px;

$burger-alt-height3: 350px;
$burger-alt-width3: 300px;

$burger-font-size: 1.2rem;

$build-controls-width: 100%;

$build-control-margin: 5px 0;
$build-button-width: 80px;
$build-button-margin: 0 5px;
$build-button-border: 2px solid #e85f5f;

$backdrop-height: 100%;
$backdrop-width: 100%;
$backdrop-z-index: 100;
$backdrop-left: 0;
$backdrop-top: 0;

