$header-margin: 16px;

$burger-height: 250px;
$burger-width: 100%;

$burger-alt-height: 600px;
$burger-alt-width: 700px;

$burger-alt-height2: 400px;
$burger-alt-width2: 450px;

$burger-alt-height3: 350px;
$burger-alt-width3: 300px;

$burger-font-size: 1.2rem;